@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*  FONT-FAMILY*/
/* COLORS      */
/* END COLORS   */
/* MAIN VARIABLES */
/*  END MAIN VARIABLES */
body {
  font-family: "Roboto", sans-serif; }

header {
  color: #EEE; }

.logo {
  margin: 0;
  padding: 0.9em; }

.menu_list {
  margin-top: 1.1em;
  margin-right: 1em; }

.menu_list a {
  margin-left: 0.7em;
  margin-right: 0.7em;
  text-decoration: none;
  color: #EEE; }

header {
  width: 100%;
  height: 7vh;
  background-color: #f77f00; }

.left_area {
  float: left; }

.right_area {
  float: right; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }
