@mixin clearfix
  &::after
    content: ""
    display: table
    clear: both
// This mixin clear floats and makes height of row not 0

@mixin centered
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

@mixin newCenter
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
