//  FILE: _variables.sass

//  This file contains all the project variables.

/*  FONT-FAMILY*/

$roboto: 'Roboto', sans-serif

/* COLORS      */

$paradise_pink: #F2165C
$deepskyblue: #00a8e8
$whitesmoke: #eee

/* ******** */

$main_bg_color: $deepskyblue
$logo: $whitesmoke
