.header
  @include clearfix
  width:  $header-width
  height: $header-height
  margin-bottom: $header-margin-bottom

  &__logo-box
    position: absolute

  &__logo
    width: 14em

  &__menu-area
    height: 4em
    float: right
