.header
  @include clearfix
  width: 100%
  margin-bottom: 12em
  position: relative
  background-color: $header_bg_color

  &__logo-box
    position: absolute

  &__logo
    width: 10em

  &__right_area
    float: right
