.header
  width: 100%
  height: 7vh
  position: relative
  margin-bottom: 12em
  background-color: $header_bg_color

  & .logo-box
    position: absolute

    & .logo
      width: 8em
      animation-name: moveInTop
      animation-duration: 1.5s

  & .right_area
    animation-name: moveInTop
    animation-duration: 1.5s
    float: right
