.btn
  margin-left: 0.1em
  margin-right: 0.1em
  padding: 5px 10px

.btn-darken
  background-color: $header_button
  border-radius: 25px
  transition: 0.3s
  transition-property: background-color

.btn-darken:hover
    background-color: darken($header_button, 25%)
