.btn
  &:link,
  &:visited
    &:not(:first-child)
      margin-left: 0.6em

    padding: 8px 16px
    border-radius: 2px
    text-transform: uppercase
    transition: all 0.3s cubic-bezier(.25,.8,.25,1)

  &--outlined
    &:link,
    &:visited
      border: 1px solid $lightgray

    &:hover
      background-color: lighten($header_button, 53%)
    &:active
      background-color: lighten($header_button, 40%)

  &--contained
    border: 1px solid transparent
    background-color: $header_button
    box-shadow: 0 3px 6px rgba($black,0.16), 0 3px 6px rgba($black,0.23)

    &:hover
      background-color: darken($header_button, 7%)
    &:active
      background-color: lighten($header_button, 7%)
      box-shadow: 0 14px 28px rgba($black, 0.25), 0 10px 10px rgba($black, 0.22)
