body
  font-family: $roboto
  line-height: 1.7
  color: $text_color

.btn
  &:link,
  &:visited
    font-weight: 700
    font-size: 1.4em
    text-decoration: none
    color: $nav_font_color

  &:active
    color: $white

  &--darken
    &:link,
    &:visited
      color: $white


.heading-primary

  &--main
    display: flex
    font-size: 2em
    font-weight: 700

  &--sub
    font-weight: 400
