body
  color: $body-text-color
  font-family: $roboto
  line-height: 1

.btn
  &:link,
  &:visited
    font-weight: 700
    font-size: 1.4em
    text-align: center
    text-decoration: none

  &--outlined
    &:link,
    &:visited
      color: $material-btn-primary-color

  &--contained
    &:link,
    &:visited
      color: $white


.heading-primary

  &--main
    display: block
    font-size: 6em
    font-weight: 700

  &--sub
    font-size: 3em
    font-weight: 400

.paragraph
  font-weight: 300
  font-size: 1.4em
  line-height: 1.5
  text-align: justify

  &:not(:last-child)
    margin-bottom: 1vh

.heading-secondary

  &--main
    display: block
    font-size: 1.7em
    font-weight: 300
