body
  background-color: $body_bg_color

.main-container
  width: 70%
  margin: 5em auto
  padding: 8em
  border-radius: 40px
  box-shadow: 0 3px 6px rgba($black,0.16), 0 3px 6px rgba($black,0.23)
  background-color: $main_container_color


  @include respond(tab-port)
    margin: 5em auto
    width: 90%

  @include respond(phone)
    margin: 0
    width: 100%
    padding: 5em
    border-radius: 0

.section
  @include clearfix

  &:not(:last-child)
    margin-bottom: 10em

  &__intro
    & .profile-picture
      width: 30em
      border-radius: 20em
      border: 2em solid $lightgray
      box-shadow: 0 3px 6px rgba($black,0.16), 0 3px 6px rgba($black,0.23)

      @include respond(tab-port)
        border-radius: 15em

    & .heading-primary
      @include respond(phone)
        margin-top: 30em

  &__skills

  & .heading-secondary
    &--main
      width: 50%
      padding-bottom: 5px
      border-bottom: 1px solid $lightgray

  & .info-list

      //margin-left: 1rem
      //outline: 0.2rem solid $lightgray
      //outline-offset: 1rem
