*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  background-color: $body_bg_color

.main-container
  width: 70%
  margin-top: 3.5em
  margin-left: auto
  margin-right: auto
  padding: 3em 5em 4em
  border-radius: 40px
  background-color: $main_container_color
